Your vote for '<%= @vote.election.title %>' was succesfully cast.

It's unique identifier is '<%= @vote.uuid %>'. You can use it to check that your vote was correctly counted.

As soon as the election ends, you will receive an alert and be able to see the results.